<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
</head>
<body>
    <H1>
        USERS
    </H1>

    <ul>

    </ul>


    
    <form action="/" method="POST">
        
        First Name: <input type="text" name="fname" placeholder=" Enter First Name"><br>

        Last Name:<input type="text" name="lname" placeholder="Enter Last Name"><br>
        
        Image URL:<input type="" name="hunger" placeholder="hunger"><br>
        <button>Submit</button>
    </form>
</body>
</html>